# Importing Libraries

Following libraries will be used for getting data by web scrapping and api

In [1]:
import requests

from bs4 import BeautifulSoup as soup  # HTML data structure
from urllib.request import urlopen as uReq  # Web client

import mysql.connector as db

import json

# Utility Functions

In [2]:
def forwardGeocoding(country):
    outputFormat = "json"
    parameters = "&pretty=1&limit=1" # Format Api result and limit response to just 1 location (most revelevant)
    key = "key=18d5e5a648744b2e924cd8240138f9d8"
    
    url = "https://api.opencagedata.com/geocode/v1/" + outputFormat + "?" + "q=" + country + parameters + "&" + key    
    
    req = requests.get(url)
    
    json_data = json.loads(req.text)
    
    lat = json_data["results"][0]["geometry"]["lat"]
    lng = json_data["results"][0]["geometry"]["lng"]
    
    return lat, lng

In [3]:
def retunErrorGeocoding():
    return 0.0,0.0

# Scrapping Covid Data

We will be scrapping covid19 data from https://en.wikipedia.org/wiki/Template:COVID-19_pandemic_data.

In [4]:
# URl to scrap from.
page_url = "https://en.wikipedia.org/wiki/Template:COVID-19_pandemic_data#covid19-container"

In [5]:
# opens the connection and downloads html page from url
uClient = uReq(page_url)

# parses html into a soup data structure to traverse html
# as if it were a json data type.
page_soup = soup(uClient.read(), "html.parser")
uClient.close()

In [6]:
# Extract required tag from the soup
containers = page_soup.findAll("tr", {"class": ""})

Now extracting required data fields

In [8]:
data = [] # all the data in in a form that can be inserted into databse directely

i = 0
check = 0

flg = True

for container in containers:
    i = i + 1
    if(i > 227): # Container have an additional row that is not of our use
        break
        
    country = container.findAll("th", {"scope": "row"})[1].a.text
    
    dataa = container.findAll("td", {"": ""})
    cases = int(dataa[0].text.replace(',', ''))
    deaths = int(dataa[1].text.replace(',', ''))
    
    recovered = dataa[2].text.replace(',', '')
    recovered = int(recovered) if recovered != 'No data\n' else -1 # Note our data contain "No Data" entries for some countries
    if(recovered == -1):
        check = -1
        
    active = int(cases - deaths - recovered + check)
    check = 0
    
    ####################################################################################################
    # Latitude and Longitude
    
    lat, lng = forwardGeocoding(country) if country != "HNLMS Dolfijn" else retunErrorGeocoding()
    
    #print('{0: <25}'.format(str(country)) + str(lat) + "," + str(lng))
    
    
    ####################################################################################################
    # country varchar(255), latitude float,  longitude float, total int, deaths int, recovered int, active int
    dataPoint = (str(country), float(lat), float(lng),int(cases),int(deaths),int(recovered),int(active))
    data.append(dataPoint)
    
    
    if flg:
        print('\n{0: <7}'.format("Index") + '{0: <25}'.format("Country") + '{0: <15}'.format("Latitude") + '{0: <17}'.format("Longitude") + '{0: <9}'.format("Cases") + '{0: <8}'.format("Deaths") + '{0: <11}'.format("Recovered") + '{0: <10}'.format("Active") + "\n")
        flg = False
    print(" " + '{0: >4}'.format(str(i)) + "  " + '{0: <25}'.format(str(country)) + '{0: <15}'.format(str(lat)) + '{0: <17}'.format(str(lng)) + '{0: <9}'.format(str(cases)) + '{0: <8}'.format(str(deaths)) + '{0: <11}'.format(str(recovered)) + '{0: <10}'.format(str(active)))
    #print(i)

Index  Country                  Latitude       Longitude        Cases    Deaths  Recovered  Active

    1  United States            39.7837304     -100.4458825     1473415  88237   260146     1125032
    2  Russia                   64.6863136     97.7453061       272043   2537    63166      206340
    3  United Kingdom           54.7023545     -3.2765753       240161   34466   -1         205695
    4  Spain                    39.3262345     -4.8380649       230698   27563   146446     56689
    5  Italy                    42.6384261     12.674297        223885   31610   120205     72070
    6  Brazil                   -10.3333333    -53.2            220291   14962   84970      120359
    7  Germany                  51.0834196     10.4234469       175699   8001    151700     15998
    8  Turkey                   38.9597594     34.9249653       146457   4055    106133     36269
    9  France                   46.603354      1.8883335        141919   27529   60448      53942
   10  Iran                     32.6475314     54.5643516       116635   6902    91836      17897
   11  India                    22.3511148     78.6677428       85940    2752    30153      53035
   12  Peru                     -6.8699697     -75.0458515      84495    2392    27147      54956
   13  China                    35.000074      104.999927       82941    4633    78219      89
   14  Canada                   61.0666922     -107.9917071     75007    5595    37287      32125
   15  Belgium                  50.6402809     4.6667145        54989    9005    14460      31524
   16  Saudi Arabia             25.6242618     42.3528328       49176    292     21869      27015
   17  Mexico                   19.4326296     -99.1331785      45032    4767    30451      9814
   18  Netherlands              52.5001698     5.7480821        43870    5670    -1         38200
   19  Chile                    -31.7613365    -71.3187697      41428    421     18014      22993
   20  Pakistan                 30.3308401     71.247499        38799    834     10880      27085
   21  Ecuador                  -1.3397668     -79.3666965      31467    3594    3433       24440
   22  Switzerland              46.7985624     8.2319736        30514    1595    27200      1719
   23  Qatar                    25.3336984     51.2295295       29425    14      3546       25865
   24  Sweden                   59.6749712     14.5208584       29677    3674    4971       21032
   25  Belarus                  53.4250605     27.6971358       28681    160     9498       19023
   26  Portugal                 40.0332629     -7.8896263       28583    1190    3328       24065
   27  Singapore                1.340863       103.8303918      27356    22      8342       18992
   28  Ireland                  52.865196      -7.9794599       24048    1533    19470      3045
   29  United Arab Emirates     24.0002488     53.9994829       21831    210     7328       14293
   30  Bangladesh               24.4768783     90.2932426       20065    298     3882       15885
   31  Poland                   52.215933      19.134422        18016    907     6918       10191
   32  Ukraine                  49.4871968     31.2718321       17858    497     4906       12455
   33  Indonesia                -2.4833826     117.8902853      17025    1089    3911       12025
   34  Romania                  45.9852129     24.6859225       16704    1081    9574       6049
   35  Israel                   31.5313113     34.8667654       16589    266     12587      3736
   36  Japan                    36.5748441     139.2394179      16253    729     10809      4715
   37  Austria                  47.2000338     13.199959        16135    628     14471      1036
   38  Colombia                 2.8894434      -73.783892       14216    546     3460       10210
   39  South Africa             -28.8166236    24.991639        13524    247     6083       7194
   40  Kuwait                   29.2733964     47.4979476       12860    96      3640       9124
   41  Philippines              12.7503486     122.7312101      12305    817     2561       8927
   42  Dominican Republic       19.0974031     -70.3028026      11739    424     33557      -22242
   43  Egypt                    26.2540493     29.2675469       11228    592     3363       7273
   44  South Korea              36.638392      127.6961188      11037    262     9851       924
   45  Denmark                  55.670249      10.3333283       10858    543     9107       1208
   46  Serbia                   44.0243228     21.0765743       10438    225     4301       5912
   47  Panama                   8.559559       -81.1308434      9268     266     6080       2922
   48  Czech Republic           49.8167003     15.4749544       8406     295     5381       2730
   49  Norway                   64.5731537     11.5280364       8219     232     7114       873
   50  Argentina                -34.9964963    -64.9672817      7121     353     2372       4396
   51  Australia                -24.7761086    134.755          7038     98      6362       578
   52  Malaysia                 4.5693754      102.2656823      6872     113     5512       1247
   53  Algeria                  28.0000272     2.9999825        6821     542     3409       2870
   54  Morocco                  31.1728205     -7.3362482       6652     190     3400       3062
   55  Bahrain                  26.1551249     50.5344606       6583     12      2640       3931
   56  Afghanistan              33.7680065     66.2385139       6402     168     778        5456
   57  Finland                  63.2467777     25.9209164       6228     287     4300       1641
   58  Kazakhstan               47.2286086     65.2093197       5850     34      2707       3109
   59  Moldova                  47.2879608     28.5670941       5745     202     2280       3263
   60  Ghana                    8.0300284      -1.0800271       5638     28      1460       4150
   61  Nigeria                  9.6000359      7.9999721        5450     171     1320       3959
   62  Oman                     21.0000287     57.0036901       4625     19      1350       3256
   63  Armenia                  40.7696272     44.6736646       4283     55      1791       2437
   64  Luxembourg               49.8158683     6.1296751        3923     104     3682       137
   65  Bolivia                  -17.0568696    -64.9912286      3577     164     434        2979
   66  Hungary                  47.1817585     19.5060937       3473     448     1371       1654
   67  Iraq                     33.0955793     44.1749775       3193     117     2089       987
   68  Cameroon                 4.6125522      13.1535811       3105     140     1567       1398
   69  Thailand                 14.8971921     100.83273        3025     56      2855       114
   70  Azerbaijan               40.3936294     47.7872508       2980     36      1886       1058
   71  Greece                   38.9953683     21.9877132       2810     162     1464       1184
   72  Uzbekistan               41.32373       63.9528098       2691     11      2158       522
   73  Puerto Rico              18.2214149     -66.4132818      2542     122     850        1570
   74  Guinea                   10.7226226     -10.7083587      2531     15      1094       1422
   75  Honduras                 15.2572432     -86.0755145      2460     134     264        2062
   76  Senegal                  14.4750607     -14.4529612      2310     25      890        1395
   77  Bosnia & Herzegovina     44.3053476     17.5961467       2236     128     1336       772
   78  Croatia                  45.5643442     17.0118954       2222     95      1869       258
   79  Bulgaria                 42.6073975     25.4856617       2175     105     573        1497

   80  Ivory Coast              7.9897371      -5.5679458       2017     24      942        1051
   81  Sudan                    14.5844444     29.4917691       1964     91      205        1668
   82  Cuba                     23.0131338     -80.8328748      1840     79      1425       336
   83  Iceland                  64.9841821     -18.1059013      1802     10      1782       10
   84  Estonia                  58.7523778     25.3319078       1770     63      934        773
   85  North Macedonia          41.6171214     21.7168387       1740     97      1251       392
   86  Guatemala                15.6356088     -89.8988087      1643     30      135        1478
   87  Lithuania                55.3500003     23.7499997       1534     55      988        491
   88  Slovakia                 48.7411522     19.4528646       1480     27      1131       322
   89  Slovenia                 45.8133113     14.4808369       1465     103     270        1092
   90  DR Congo                 -4.0324901     22.4574787       1369     61      2129       -821
   91  Djibouti                 11.8145966     42.8453061       1309     4       935        370
   92  Somalia                  8.3676771      49.083416        1284     53      135        1096
   93  El Salvador              13.8000382     -88.9140683      1265     25      441        799
   94  Gabon                    -0.8999695     11.6899699       1209     10      219        980
   95  New Zealand              -41.5000831    172.8344077      1148     21      1428       -301
   96  Tajikistan               38.6281733     70.8156541       1118     33      0          1085
   97  Kyrgyzstan               41.5089324     74.724091        1117     14      783        320
   98  USS Theodore Roosevelt   40.67871       -73.58902        1102     1       53         1048
   99  Charles de Gaulle        48.1055064     -1.6769216       1081     0       0          1081
  100  Hong Kong                22.2793278     114.1628131      1053     4       1019       30
  101  Tunisia                  33.8439408     9.400138         1035     45      802        188
  102  Maldives                 4.7064352      73.3287853       1031     4       46         981
  103  Latvia                   56.8406494     24.7537645       997      19      662        316
  104  Kosovo                   42.5869578     20.9021231       944      29      690        225
  105  Sri Lanka                7.5554942      80.7137847       935      9       477        449
  106  Albania                  41.000028      19.9999619       916      31      705        180
  107  Guinea-Bissau            12.100035      -14.9000214      913      3       26         884
  108  Cyprus                   34.9823018     33.1451285       910      17      481        412
  109  Lebanon                  33.8750629     35.843409        891      26      246        619
  110  Niger                    17.7356214     9.3238432        885      51      684        150
  111  Costa Rica               10.2735633     -84.0739102      843      8       542        293
  112  Mali                     16.3700359     -2.2900239       806      46      455        305
  113  Kenya                    1.4419683      38.4313975       830      50      301        479
  114  Burkina Faso             12.0753083     -1.6880314       780      51      595        134
  115  Andorra                  42.5407167     1.5732033        761      49      604        108
  116  Paraguay                 -23.3165935    -58.1693445      759      11      193        555
  117  Uruguay                  -32.8755548    -56.0201525      732      19      553        160
  118  Diamond Princess         53.8953584     27.5554078       712      14      653        45
  119  Georgia                  41.6809707     44.0287382       677      12      419        246
  120  Zambia                   -14.5186239    27.5599164       668      7       152        509
  121  San Marino               43.9458623     12.458306        652      41      189        422
  122  Jordan                   31.1667049     36.941628        596      9       401        186
  123  Equatorial Guinea        1.613172       10.5170357       594      7       22         565
  124  Malta                    35.8885993     14.4476911       532      6       458        68
  125  Jamaica                  18.1152958     -77.1598455      511      9       121        381
  126  Tanzania                 -6.5247123     35.7878438       509      21      183        305
  127  Sierra Leone             8.6400349      -11.8400269      462      29      106        327
  128  Venezuela                8.0018709      -66.1109318      459      10      229        220
  129  Taiwan                   23.9739374     120.9820179      440      7       383        50
  130  Chad                     15.6134137     19.0156172       428      48      88         292
  131  Congo                    -0.7264327     15.6419155       391      15      87         289
  132  Palestine                31.9469665     35.2738655       375      2       315        58
  133  Benin                    9.5293472      2.2584408        339      2       83         254
  134  Isle of Man              54.2358167     -4.5145987       334      24      285        25
  135  Mauritius                -20.2759451    57.5703566       332      10      322        0
  136  Cape Verde               16.0000552     -24.0083947      326      2       67         257
  137  Montenegro               42.9868853     19.5180992       324      9       311        4
  138  Vietnam                  13.2904027     108.4265113      313      0       260        53
  139  Haiti                    19.1399952     -72.3570972      310      20      19         271
  140  Luhansk PR               48.5717084     39.2973153       308      2       53         253
  141  Central African Republic 7.0323598      19.9981227       301      0       13         288
  142  Jersey                   49.2123066     -2.1256          297      27      226        44
  143  Ethiopia                 10.2116702     38.6521203       287      5       112        170
  144  Rwanda                   -1.9646631     30.0644358       287      0       177        110
  145  Nepal                    28.1083929     84.0917139       281      1       36         244
  146  Togo                     8.7800265      1.0199765        263      11      96         156
  147  Guernsey                 49.5795202     -2.5290434       252      13      231        8
  148  Donetsk PR               48.0158753     37.8013407       246      5       36         205
  149  Madagascar               -18.9249604    46.4416422       238      0       112        126
  150  São Tomé & Príncipe      0.3389242      6.7313031        235      7       4          224
  151  South Sudan              7.8699431      29.6667897       231      1       3          227
  152  Liberia                  5.7499721      -9.3658524       219      20      108        91
  153  Uganda                   1.5333554      32.2166578       203      0       63         140
  154  Eswatini                 -26.5624806    31.3991317       190      2       66         122
  155  Faroe Islands            62.1985004     -6.8174124       187      0       187        0
  156  Myanmar                  17.1750495     95.9999652       182      6       89         87
  157  Guam                     13.4501257     144.757551       154      5       128        21
  158  Costa Atlantica          -37.9257833    -57.5297442      148      0       0          148
  159  Gibraltar                36.106747      -5.3352772       147      0       144        3

  160  Brunei                   4.4137155      114.5653908      141      1       134        6
  161  Mongolia                 46.8250388     103.8499736      135      0       20         115
  162  Greg Mortimer            51.37339       -1.03495         128      0       -1         128
  163  Bermuda                  32.3018217     -64.7603583      122      9       66         47
  164  Cambodia                 13.5066394     104.869423       122      0       122        0
  165  Mozambique               -19.302233     34.9144977       119      0       42         77
  166  Guyana                   4.8417097      -58.6416891      116      10      43         63
  167  Trinidad & Tobago        10.4430243     -61.2613054      116      8       107        1
  168  Northern Cyprus          35.4594217     33.6783123       108      4       104        0
  169  Yemen                    16.3471243     47.8915271       106      15      1          90
  170  Aruba                    12.4902998     -69.9609842      101      3       93         5
  171  Bahamas                  24.7736546     -78.0000547      96       11      41         44
  172  Monaco                   43.738449      7.4242241        96       4       87         5
  173  Cayman Islands           19.5417212     -80.5667132      94       1       55         38
  174  Barbados                 13.1500331     -59.5250305      85       7       65         13
  175  Liechtenstein            47.1416307     9.5531527        82       1       55         26
  176  Sint Maarten             52.7559345     4.7505476        77       15      54         8
  177  Somaliland               9.862669       46.1361121       70       0       15         55
  178  U.S. Virgin Islands      17.789187      -64.7080574      69       6       61         2
  179  Libya                    26.8234472     18.1236723       64       3       28         33
  180  Malawi                   -13.2687204    33.9301963       65       3       24         38
  181  French Polynesia         -16.0344249    -146.0490931     60       0       59         1
  182  Syria                    34.6401861     39.0494106       50       3       36         11
  183  Angola                   -11.8775768    17.5691241       48       2       14         32
  184  Macau                    22.1757605     113.5514142      45       0       43         2
  185  Zimbabwe                 -18.4554963    29.7468414       42       4       13         25
  186  Eritrea                  15.9500319     37.9999668       39       0       38         1
  187  South Ossetia            42.3476344     44.0979465       30       0       0          30
  188  Mauritania               20.2540382     -9.2399263       29       3       7          19
  189  Nicaragua                12.6090157     -85.2936911      25       8       7          10
  190  Antigua & Barbuda        42.1768237     -5.6834202       24       3       11         10
  191  East Timor               -8.5151979     125.8375756      24       0       21         3
  192  Botswana                 -23.1681782    24.5928742       24       1       17         6
  193  The Gambia               13.470062      -15.4900464      23       1       12         10
  194  Grenada                  12.1360374     -61.6904045      22       0       14         8
  195  Bhutan                   27.549511      90.5119273       21       0       5          16
  196  Artsakh                  40.3936294     47.7872508       20       0       8          12
  197  Laos                     20.0171109     103.378253       19       0       14         5
  198  Northern Mariana Islands 14.1490205     145.2134525      19       2       12         5
  199  Belize                   16.8259793     -88.7600927      18       2       16         0
  200  Fiji                     -18.1239696    179.0122737      18       0       15         3
  201  New Caledonia            -20.4542886    164.5566058      18       0       18         0
  202  Saint Lucia              13.8250489     -60.975036       18       0       18         0
  203  Abkhazia                 43.1500226     41.2299786       17       1       2          14
  204  Saint Vincent            12.90447       -61.2765569      17       0       14         3
  205  Curaçao                  12.1845        -68.9640875      16       1       14         1
  206  Dominica                 19.0974031     -70.3028026      16       0       15         1
  207  Namibia                  -23.2335499    17.3231107       16       0       13         3
  208  Burundi                  -3.3634357     29.8870575       15       1       7          7
  209  Saint Kitts & Nevis      17.250512      -62.6725973      15       0       14         1
  210  Falkland Islands         -51.9666424    -59.5500387      13       0       13         0
  211  MS Zaandam               52.4387696     4.8185293        13       4       -1         9
  212  Coral Princess           52.586121      -2.1252292       12       2       -1         10
  213  Turks & Caicos Islands   6.1429757      125.1826465      12       1       10         1
  214  Vatican City             41.9038149     12.4531527       12       0       2          10
  215  Comoros                  -12.2045176    44.2832964       11       1       3          7
  216  Greenland                77.6192349     -42.8125967      11       0       11         0
  217  Montserrat               16.7417041     -62.1916844      11       1       10         0
  218  Seychelles               -4.6574977     55.4540146       11       0       7          4
  219  Suriname                 4.1413025      -56.0771187      10       1       9          0
  220  British Virgin Islands   18.4024395     -64.5661642      8        1       6          1
  221  HNLMS Dolfijn            0.0            0.0              8        0       -1         8
  222  Papua New Guinea         -5.6816069     144.2489081      8        0       8          0
  223  Anguilla                 18.1954947     -63.0750234      3        0       3          0
  224  Bonaire                  12.167         -68.2909614      2        0       2          0
  225  Saba                     5.595237       117.0051734      2        0       2          0
  226  Sint Eustatius           17.4865252     -62.9653116      2        0       2          0
  227  Lesotho                  -29.6039267    28.3350193       1        0       0          1

In [9]:
data

[('United States', 39.7837304, -100.4458825, 1473415, 88237, 260146, 1125032),
 ('Russia', 64.6863136, 97.7453061, 272043, 2537, 63166, 206340),
 ('United Kingdom', 54.7023545, -3.2765753, 240161, 34466, -1, 205695),
 ('Spain', 39.3262345, -4.8380649, 230698, 27563, 146446, 56689),
 ('Italy', 42.6384261, 12.674297, 223885, 31610, 120205, 72070),
 ('Brazil', -10.3333333, -53.2, 220291, 14962, 84970, 120359),
 ('Germany', 51.0834196, 10.4234469, 175699, 8001, 151700, 15998),
 ('Turkey', 38.9597594, 34.9249653, 146457, 4055, 106133, 36269),
 ('France', 46.603354, 1.8883335, 141919, 27529, 60448, 53942),
 ('Iran', 32.6475314, 54.5643516, 116635, 6902, 91836, 17897),
 ('India', 22.3511148, 78.6677428, 85940, 2752, 30153, 53035),
 ('Peru', -6.8699697, -75.0458515, 84495, 2392, 27147, 54956),
 ('China', 35.000074, 104.999927, 82941, 4633, 78219, 89),
 ('Canada', 61.0666922, -107.9917071, 75007, 5595, 37287, 32125),
 ('Belgium', 50.6402809, 4.6667145, 54989, 9005, 14460, 31524),
 ('Saudi Arabia', 25.6242618, 42.3528328, 49176, 292, 21869, 27015),
 ('Mexico', 19.4326296, -99.1331785, 45032, 4767, 30451, 9814),
 ('Netherlands', 52.5001698, 5.7480821, 43870, 5670, -1, 38200),
 ('Chile', -31.7613365, -71.3187697, 41428, 421, 18014, 22993),
 ('Pakistan', 30.3308401, 71.247499, 38799, 834, 10880, 27085),
 ('Ecuador', -1.3397668, -79.3666965, 31467, 3594, 3433, 24440),
 ('Switzerland', 46.7985624, 8.2319736, 30514, 1595, 27200, 1719),
 ('Qatar', 25.3336984, 51.2295295, 29425, 14, 3546, 25865),
 ('Sweden', 59.6749712, 14.5208584, 29677, 3674, 4971, 21032),
 ('Belarus', 53.4250605, 27.6971358, 28681, 160, 9498, 19023),
 ('Portugal', 40.0332629, -7.8896263, 28583, 1190, 3328, 24065),
 ('Singapore', 1.340863, 103.8303918, 27356, 22, 8342, 18992),
 ('Ireland', 52.865196, -7.9794599, 24048, 1533, 19470, 3045),
 ('United Arab Emirates', 24.0002488, 53.9994829, 21831, 210, 7328, 14293),
 ('Bangladesh', 24.4768783, 90.2932426, 20065, 298, 3882, 15885),
 ('Poland', 52.215933, 19.134422, 18016, 907, 6918, 10191),
 ('Ukraine', 49.4871968, 31.2718321, 17858, 497, 4906, 12455),
 ('Indonesia', -2.4833826, 117.8902853, 17025, 1089, 3911, 12025),
 ('Romania', 45.9852129, 24.6859225, 16704, 1081, 9574, 6049),
 ('Israel', 31.5313113, 34.8667654, 16589, 266, 12587, 3736),
 ('Japan', 36.5748441, 139.2394179, 16253, 729, 10809, 4715),
 ('Austria', 47.2000338, 13.199959, 16135, 628, 14471, 1036),
 ('Colombia', 2.8894434, -73.783892, 14216, 546, 3460, 10210),
 ('South Africa', -28.8166236, 24.991639, 13524, 247, 6083, 7194),
 ('Kuwait', 29.2733964, 47.4979476, 12860, 96, 3640, 9124),
 ('Philippines', 12.7503486, 122.7312101, 12305, 817, 2561, 8927),
 ('Dominican Republic', 19.0974031, -70.3028026, 11739, 424, 33557, -22242),
 ('Egypt', 26.2540493, 29.2675469, 11228, 592, 3363, 7273),
 ('South Korea', 36.638392, 127.6961188, 11037, 262, 9851, 924),
 ('Denmark', 55.670249, 10.3333283, 10858, 543, 9107, 1208),
 ('Serbia', 44.0243228, 21.0765743, 10438, 225, 4301, 5912),
 ('Panama', 8.559559, -81.1308434, 9268, 266, 6080, 2922),
 ('Czech Republic', 49.8167003, 15.4749544, 8406, 295, 5381, 2730),
 ('Norway', 64.5731537, 11.5280364, 8219, 232, 7114, 873),
 ('Argentina', -34.9964963, -64.9672817, 7121, 353, 2372, 4396),
 ('Australia', -24.7761086, 134.755, 7038, 98, 6362, 578),
 ('Malaysia', 4.5693754, 102.2656823, 6872, 113, 5512, 1247),
 ('Algeria', 28.0000272, 2.9999825, 6821, 542, 3409, 2870),
 ('Morocco', 31.1728205, -7.3362482, 6652, 190, 3400, 3062),
 ('Bahrain', 26.1551249, 50.5344606, 6583, 12, 2640, 3931),
 ('Afghanistan', 33.7680065, 66.2385139, 6402, 168, 778, 5456),
 ('Finland', 63.2467777, 25.9209164, 6228, 287, 4300, 1641),
 ('Kazakhstan', 47.2286086, 65.2093197, 5850, 34, 2707, 3109),
 ('Moldova', 47.2879608, 28.5670941, 5745, 202, 2280, 3263),
 ('Ghana', 8.0300284, -1.0800271, 5638, 28, 1460, 4150),
 ('Nigeria', 9.6000359, 7.9999721, 5450, 171, 1320, 3959),
 ('Oman', 21.0000287, 57.0036901, 4625, 19, 1350, 3256),
 ('Armenia', 40.7696272, 44.6736646, 4283, 55, 1791, 2437),
 ('Luxembourg', 49.8158683, 6.1296751, 3923, 104, 3682, 137),
 ('Bolivia', -17.0568696, -64.9912286, 3577, 164, 434, 2979),
 ('Hungary', 47.1817585, 19.5060937, 3473, 448, 1371, 1654),
 ('Iraq', 33.0955793, 44.1749775, 3193, 117, 2089, 987),
 ('Cameroon', 4.6125522, 13.1535811, 3105, 140, 1567, 1398),
 ('Thailand', 14.8971921, 100.83273, 3025, 56, 2855, 114),
 ('Azerbaijan', 40.3936294, 47.7872508, 2980, 36, 1886, 1058),
 ('Greece', 38.9953683, 21.9877132, 2810, 162, 1464, 1184),
 ('Uzbekistan', 41.32373, 63.9528098, 2691, 11, 2158, 522),
 ('Puerto Rico', 18.2214149, -66.4132818, 2542, 122, 850, 1570),
 ('Guinea', 10.7226226, -10.7083587, 2531, 15, 1094, 1422),
 ('Honduras', 15.2572432, -86.0755145, 2460, 134, 264, 2062),
 ('Senegal', 14.4750607, -14.4529612, 2310, 25, 890, 1395),
 ('Bosnia & Herzegovina', 44.3053476, 17.5961467, 2236, 128, 1336, 772),
 ('Croatia', 45.5643442, 17.0118954, 2222, 95, 1869, 258),
 ('Bulgaria', 42.6073975, 25.4856617, 2175, 105, 573, 1497),
 ('Ivory Coast', 7.9897371, -5.5679458, 2017, 24, 942, 1051),
 ('Sudan', 14.5844444, 29.4917691, 1964, 91, 205, 1668),
 ('Cuba', 23.0131338, -80.8328748, 1840, 79, 1425, 336),
 ('Iceland', 64.9841821, -18.1059013, 1802, 10, 1782, 10),
 ('Estonia', 58.7523778, 25.3319078, 1770, 63, 934, 773),
 ('North Macedonia', 41.6171214, 21.7168387, 1740, 97, 1251, 392),
 ('Guatemala', 15.6356088, -89.8988087, 1643, 30, 135, 1478),
 ('Lithuania', 55.3500003, 23.7499997, 1534, 55, 988, 491),
 ('Slovakia', 48.7411522, 19.4528646, 1480, 27, 1131, 322),
 ('Slovenia', 45.8133113, 14.4808369, 1465, 103, 270, 1092),
 ('DR Congo', -4.0324901, 22.4574787, 1369, 61, 2129, -821),
 ('Djibouti', 11.8145966, 42.8453061, 1309, 4, 935, 370),
 ('Somalia', 8.3676771, 49.083416, 1284, 53, 135, 1096),
 ('El Salvador', 13.8000382, -88.9140683, 1265, 25, 441, 799),
 ('Gabon', -0.8999695, 11.6899699, 1209, 10, 219, 980),
 ('New Zealand', -41.5000831, 172.8344077, 1148, 21, 1428, -301),
 ('Tajikistan', 38.6281733, 70.8156541, 1118, 33, 0, 1085),
 ('Kyrgyzstan', 41.5089324, 74.724091, 1117, 14, 783, 320),
 ('USS Theodore Roosevelt', 40.67871, -73.58902, 1102, 1, 53, 1048),
 ('Charles de Gaulle', 48.1055064, -1.6769216, 1081, 0, 0, 1081),
 ('Hong Kong', 22.2793278, 114.1628131, 1053, 4, 1019, 30),
 ('Tunisia', 33.8439408, 9.400138, 1035, 45, 802, 188),
 ('Maldives', 4.7064352, 73.3287853, 1031, 4, 46, 981),
 ('Latvia', 56.8406494, 24.7537645, 997, 19, 662, 316),
 ('Kosovo', 42.5869578, 20.9021231, 944, 29, 690, 225),
 ('Sri Lanka', 7.5554942, 80.7137847, 935, 9, 477, 449),
 ('Albania', 41.000028, 19.9999619, 916, 31, 705, 180),
 ('Guinea-Bissau', 12.100035, -14.9000214, 913, 3, 26, 884),
 ('Cyprus', 34.9823018, 33.1451285, 910, 17, 481, 412),
 ('Lebanon', 33.8750629, 35.843409, 891, 26, 246, 619),
 ('Niger', 17.7356214, 9.3238432, 885, 51, 684, 150),
 ('Costa Rica', 10.2735633, -84.0739102, 843, 8, 542, 293),
 ('Mali', 16.3700359, -2.2900239, 806, 46, 455, 305),
 ('Kenya', 1.4419683, 38.4313975, 830, 50, 301, 479),
 ('Burkina Faso', 12.0753083, -1.6880314, 780, 51, 595, 134),
 ('Andorra', 42.5407167, 1.5732033, 761, 49, 604, 108),
 ('Paraguay', -23.3165935, -58.1693445, 759, 11, 193, 555),
 ('Uruguay', -32.8755548, -56.0201525, 732, 19, 553, 160),
 ('Diamond Princess', 53.8953584, 27.5554078, 712, 14, 653, 45),
 ('Georgia', 41.6809707, 44.0287382, 677, 12, 419, 246),
 ('Zambia', -14.5186239, 27.5599164, 668, 7, 152, 509),
 ('San Marino', 43.9458623, 12.458306, 652, 41, 189, 422),
 ('Jordan', 31.1667049, 36.941628, 596, 9, 401, 186),
 ('Equatorial Guinea', 1.613172, 10.5170357, 594, 7, 22, 565),
 ('Malta', 35.8885993, 14.4476911, 532, 6, 458, 68),
 ('Jamaica', 18.1152958, -77.1598455, 511, 9, 121, 381),
 ('Tanzania', -6.5247123, 35.7878438, 509, 21, 183, 305),
 ('Sierra Leone', 8.6400349, -11.8400269, 462, 29, 106, 327),
 ('Venezuela', 8.0018709, -66.1109318, 459, 10, 229, 220),
 ('Taiwan', 23.9739374, 120.9820179, 440, 7, 383, 50),
 ('Chad', 15.6134137, 19.0156172, 428, 48, 88, 292),
 ('Congo', -0.7264327, 15.6419155, 391, 15, 87, 289),
 ('Palestine', 31.9469665, 35.2738655, 375, 2, 315, 58),
 ('Benin', 9.5293472, 2.2584408, 339, 2, 83, 254),
 ('Isle of Man', 54.2358167, -4.5145987, 334, 24, 285, 25),
 ('Mauritius', -20.2759451, 57.5703566, 332, 10, 322, 0),
 ('Cape Verde', 16.0000552, -24.0083947, 326, 2, 67, 257),
 ('Montenegro', 42.9868853, 19.5180992, 324, 9, 311, 4),
 ('Vietnam', 13.2904027, 108.4265113, 313, 0, 260, 53),
 ('Haiti', 19.1399952, -72.3570972, 310, 20, 19, 271),
 ('Luhansk PR', 48.5717084, 39.2973153, 308, 2, 53, 253),
 ('Central African Republic', 7.0323598, 19.9981227, 301, 0, 13, 288),
 ('Jersey', 49.2123066, -2.1256, 297, 27, 226, 44),
 ('Ethiopia', 10.2116702, 38.6521203, 287, 5, 112, 170),
 ('Rwanda', -1.9646631, 30.0644358, 287, 0, 177, 110),
 ('Nepal', 28.1083929, 84.0917139, 281, 1, 36, 244),
 ('Togo', 8.7800265, 1.0199765, 263, 11, 96, 156),
 ('Guernsey', 49.5795202, -2.5290434, 252, 13, 231, 8),
 ('Donetsk PR', 48.0158753, 37.8013407, 246, 5, 36, 205),
 ('Madagascar', -18.9249604, 46.4416422, 238, 0, 112, 126),
 ('São Tomé & Príncipe', 0.3389242, 6.7313031, 235, 7, 4, 224),
 ('South Sudan', 7.8699431, 29.6667897, 231, 1, 3, 227),
 ('Liberia', 5.7499721, -9.3658524, 219, 20, 108, 91),
 ('Uganda', 1.5333554, 32.2166578, 203, 0, 63, 140),
 ('Eswatini', -26.5624806, 31.3991317, 190, 2, 66, 122),
 ('Faroe Islands', 62.1985004, -6.8174124, 187, 0, 187, 0),
 ('Myanmar', 17.1750495, 95.9999652, 182, 6, 89, 87),
 ('Guam', 13.4501257, 144.757551, 154, 5, 128, 21),
 ('Costa Atlantica', -37.9257833, -57.5297442, 148, 0, 0, 148),
 ('Gibraltar', 36.106747, -5.3352772, 147, 0, 144, 3),
 ('Brunei', 4.4137155, 114.5653908, 141, 1, 134, 6),
 ('Mongolia', 46.8250388, 103.8499736, 135, 0, 20, 115),
 ('Greg Mortimer', 51.37339, -1.03495, 128, 0, -1, 128),
 ('Bermuda', 32.3018217, -64.7603583, 122, 9, 66, 47),
 ('Cambodia', 13.5066394, 104.869423, 122, 0, 122, 0),
 ('Mozambique', -19.302233, 34.9144977, 119, 0, 42, 77),
 ('Guyana', 4.8417097, -58.6416891, 116, 10, 43, 63),
 ('Trinidad & Tobago', 10.4430243, -61.2613054, 116, 8, 107, 1),
 ('Northern Cyprus', 35.4594217, 33.6783123, 108, 4, 104, 0),
 ('Yemen', 16.3471243, 47.8915271, 106, 15, 1, 90),
 ('Aruba', 12.4902998, -69.9609842, 101, 3, 93, 5),
 ('Bahamas', 24.7736546, -78.0000547, 96, 11, 41, 44),
 ('Monaco', 43.738449, 7.4242241, 96, 4, 87, 5),
 ('Cayman Islands', 19.5417212, -80.5667132, 94, 1, 55, 38),
 ('Barbados', 13.1500331, -59.5250305, 85, 7, 65, 13),
 ('Liechtenstein', 47.1416307, 9.5531527, 82, 1, 55, 26),
 ('Sint Maarten', 52.7559345, 4.7505476, 77, 15, 54, 8),
 ('Somaliland', 9.862669, 46.1361121, 70, 0, 15, 55),
 ('U.S. Virgin Islands', 17.789187, -64.7080574, 69, 6, 61, 2),
 ('Libya', 26.8234472, 18.1236723, 64, 3, 28, 33),
 ('Malawi', -13.2687204, 33.9301963, 65, 3, 24, 38),
 ('French Polynesia', -16.0344249, -146.0490931, 60, 0, 59, 1),
 ('Syria', 34.6401861, 39.0494106, 50, 3, 36, 11),
 ('Angola', -11.8775768, 17.5691241, 48, 2, 14, 32),
 ('Macau', 22.1757605, 113.5514142, 45, 0, 43, 2),
 ('Zimbabwe', -18.4554963, 29.7468414, 42, 4, 13, 25),
 ('Eritrea', 15.9500319, 37.9999668, 39, 0, 38, 1),
 ('South Ossetia', 42.3476344, 44.0979465, 30, 0, 0, 30),
 ('Mauritania', 20.2540382, -9.2399263, 29, 3, 7, 19),
 ('Nicaragua', 12.6090157, -85.2936911, 25, 8, 7, 10),
 ('Antigua & Barbuda', 42.1768237, -5.6834202, 24, 3, 11, 10),
 ('East Timor', -8.5151979, 125.8375756, 24, 0, 21, 3),
 ('Botswana', -23.1681782, 24.5928742, 24, 1, 17, 6),
 ('The Gambia', 13.470062, -15.4900464, 23, 1, 12, 10),
 ('Grenada', 12.1360374, -61.6904045, 22, 0, 14, 8),
 ('Bhutan', 27.549511, 90.5119273, 21, 0, 5, 16),
 ('Artsakh', 40.3936294, 47.7872508, 20, 0, 8, 12),
 ('Laos', 20.0171109, 103.378253, 19, 0, 14, 5),
 ('Northern Mariana Islands ', 14.1490205, 145.2134525, 19, 2, 12, 5),
 ('Belize', 16.8259793, -88.7600927, 18, 2, 16, 0),
 ('Fiji', -18.1239696, 179.0122737, 18, 0, 15, 3),
 ('New Caledonia', -20.4542886, 164.5566058, 18, 0, 18, 0),
 ('Saint Lucia', 13.8250489, -60.975036, 18, 0, 18, 0),
 ('Abkhazia', 43.1500226, 41.2299786, 17, 1, 2, 14),
 ('Saint Vincent', 12.90447, -61.2765569, 17, 0, 14, 3),
 ('Curaçao', 12.1845, -68.9640875, 16, 1, 14, 1),
 ('Dominica', 19.0974031, -70.3028026, 16, 0, 15, 1),
 ('Namibia', -23.2335499, 17.3231107, 16, 0, 13, 3),
 ('Burundi', -3.3634357, 29.8870575, 15, 1, 7, 7),
 ('Saint Kitts & Nevis', 17.250512, -62.6725973, 15, 0, 14, 1),
 ('Falkland Islands', -51.9666424, -59.5500387, 13, 0, 13, 0),
 ('MS Zaandam', 52.4387696, 4.8185293, 13, 4, -1, 9),
 ('Coral Princess', 52.586121, -2.1252292, 12, 2, -1, 10),
 ('Turks & Caicos Islands', 6.1429757, 125.1826465, 12, 1, 10, 1),
 ('Vatican City', 41.9038149, 12.4531527, 12, 0, 2, 10),
 ('Comoros', -12.2045176, 44.2832964, 11, 1, 3, 7),
 ('Greenland', 77.6192349, -42.8125967, 11, 0, 11, 0),
 ('Montserrat', 16.7417041, -62.1916844, 11, 1, 10, 0),
 ('Seychelles', -4.6574977, 55.4540146, 11, 0, 7, 4),
 ('Suriname', 4.1413025, -56.0771187, 10, 1, 9, 0),
 ('British Virgin Islands', 18.4024395, -64.5661642, 8, 1, 6, 1),
 ('HNLMS Dolfijn', 0.0, 0.0, 8, 0, -1, 8),
 ('Papua New Guinea', -5.6816069, 144.2489081, 8, 0, 8, 0),
 ('Anguilla', 18.1954947, -63.0750234, 3, 0, 3, 0),
 ('Bonaire', 12.167, -68.2909614, 2, 0, 2, 0),
 ('Saba', 5.595237, 117.0051734, 2, 0, 2, 0),
 ('Sint Eustatius', 17.4865252, -62.9653116, 2, 0, 2, 0),
 ('Lesotho', -29.6039267, 28.3350193, 1, 0, 0, 1)]

# Storing the data in SQL DB

In [ ]:
# Connecting to db
import mysql.connector
conn = mysql.connector.connect( host='Localhost', user='root', passwd='', db='')
cur  = conn.cursor()

Creating our database by the name "BSCS17077_covid", and using it for future insertions

In [ ]:
cur.execute("CREATE Database IF NOT EXISTS BSCS17077_covid;")

cur.execute("USE BSCS17077_covid")

Creating a table by name "covid_details" in db

In [ ]:
cur.execute("DROP TABLE IF EXISTS covid_details")

query = "CREATE TABLE covid_details (country varchar(255), latitude float,  longitude float, total int, deaths int, recovered int, active int);"
cur.execute(query)

Inserting Data in the table

In [ ]:
queryInsert = "INSERT INTO covid_details (country, latitude,  longitude, total, deaths, recovered, active) VALUES (%s, %s, %s, %s, %s, %s, %s)"
cur.executemany(queryInsert,data)

Commiting our data

In [ ]:
conn.commit()

# Queries

Query for countries greater that x active cases

In [ ]:
x = input("Countries with active cases greater than > ")
cur.execute("SELECT * FROM covid_details where active > " + str(x) + " ORDER BY active DESC;")

data = cur.fetchall()

print('\n{0: <7}'.format("Index") + '{0: <25}'.format("Country") + '{0: <15}'.format("Latitude") + '{0: <17}'.format("Longitude") + '{0: <9}'.format("Cases") + '{0: <8}'.format("Deaths") + '{0: <11}'.format("Recovered") + '{0: <10}'.format("Active") + "\n")

i = 1
for dataPoint in data:
    print(" " + '{0: >4}'.format(str(i)) + "  " + '{0: <25}'.format(str(dataPoint[0])) + '{0: <15}'.format(str(dataPoint[1])) + '{0: <17}'.format(str(dataPoint[2])) + '{0: <9}'.format(str(dataPoint[3])) + '{0: <8}'.format(str(dataPoint[4])) + '{0: <11}'.format(str(dataPoint[5])) + '{0: <10}'.format(str(dataPoint[6])))
    i = i + 1

Query for countries greater that x death cases

In [ ]:
x = input("Countries with death cases greater than > ")
cur.execute("SELECT * FROM covid_details where deaths > " + str(x) + " ORDER BY deaths DESC;")

data = cur.fetchall()

print('\n{0: <7}'.format("Index") + '{0: <25}'.format("Country") + '{0: <15}'.format("Latitude") + '{0: <17}'.format("Longitude") + '{0: <9}'.format("Cases") + '{0: <8}'.format("Deaths") + '{0: <11}'.format("Recovered") + '{0: <10}'.format("Active") + "\n")

i = 1
for dataPoint in data:
    print(" " + '{0: >4}'.format(str(i)) + "  " + '{0: <25}'.format(str(dataPoint[0])) + '{0: <15}'.format(str(dataPoint[1])) + '{0: <17}'.format(str(dataPoint[2])) + '{0: <9}'.format(str(dataPoint[3])) + '{0: <8}'.format(str(dataPoint[4])) + '{0: <11}'.format(str(dataPoint[5])) + '{0: <10}'.format(str(dataPoint[6])))
    i = i + 1

Query for countries greater that x recovered cases

In [ ]:
x = input("Countries with recovered cases greater than > ")
cur.execute("SELECT * FROM covid_details where recovered > " + str(x) + " ORDER BY recovered DESC;")

data = cur.fetchall()

print('\n{0: <7}'.format("Index") + '{0: <25}'.format("Country") + '{0: <15}'.format("Latitude") + '{0: <17}'.format("Longitude") + '{0: <9}'.format("Cases") + '{0: <8}'.format("Deaths") + '{0: <11}'.format("Recovered") + '{0: <10}'.format("Active") + "\n")

i = 1
for dataPoint in data:
    print(" " + '{0: >4}'.format(str(i)) + "  " + '{0: <25}'.format(str(dataPoint[0])) + '{0: <15}'.format(str(dataPoint[1])) + '{0: <17}'.format(str(dataPoint[2])) + '{0: <9}'.format(str(dataPoint[3])) + '{0: <8}'.format(str(dataPoint[4])) + '{0: <11}'.format(str(dataPoint[5])) + '{0: <10}'.format(str(dataPoint[6])))
    i = i + 1